@font-face {
    font-family: 'RalewayRegular';
    src: url(fonts/Raleway-Regular-ADTS.otf);
}
@font-face {
    font-family: 'RalewayLight';
    src: url(fonts/Raleway-Light-ADTS.otf);
}
@font-face {
    font-family: 'RalewayBold';
    src: url(fonts/Raleway-Bold-ADTS.otf);
}

@font-face {
    font-family: 'icons';
    src: url('fonts/ADTS-Icons.eot');
}

@font-face {
    font-family: 'icons';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8RDYEAAAC8AAAAYGNtYXD/9AFaAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zv6J4eQAAAF4AAANaGhlYWQFwfcbAAAO4AAAADZoaGVhB2QD1wAADxgAAAAkaG10eE4ACc0AAA88AAAAWGxvY2Effhs6AAAPlAAAAC5tYXhwACEApQAAD8QAAAAgbmFtZYbldD8AAA/kAAABqnBvc3QAAwAAAAARkAAAACAAAwPlAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAABAAAAAcgPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAgAHL//f//AAAAAAAgAGH//f//AAH/4/+jAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACAX0AGAKBA0sAEAAdAAABIyIGFxMeATMxMjY3EzYmJxMUBiMiJjU0NjMyFhUCAgI9Twk3BSkcHCsDOQxOPVw3Jyc3NycnNwNLXTz+kxwjIxwBbTxcAf0rJzc3Jyc3NycAAAAABABmAHoDgQLfACEANwBIAFYAABMzMjY7ATIWMyE0NjsBMhYVMzIWFREUBiMhBiY1ETQ2MzEFIg4CFRQeAjMyPgI1NC4CIzEFMzI2PQE0JisBIgYdARQWMyUiBhUUFjMyNjU0JiMxqikUDhV/FA4WAQQPCxsLDykcKCgc/W0cKCgcAd8qSzchITdLKipLOCAgOEsq/oFSCxAQC1ILDw8LAX89WFg9PlhYPgKbREQLEBALKBv+ZhwoASccAZodKEUhN0sqK0o4ICA4SisrSjggRBALDgsQEAsOCxAOWD0+WFg+PVgAAQBiACIDlgNWAAsAAAEnCQEHCQEXCQE3AQOWVP66/rpUAUb+ulQBRgFGVP66AwJU/roBRlT+uv66VAFG/rpUAUYAAAACAQoAKAL0A1oAHQArAAABIgYHAwYWOwEDBhYXFjI3ATYmKwETNiYrATgBIzEXMwMGFjsBARM2JisBEwGwAwQBkQIHBWyDAQIDAwgCAdkEBga5eQIIBPACCtd4AgYGsv5YeQEHBG2LA1oFAv5pBQn+hwMIAgEDAgcEDgEKAwoV/vYFCf4vAVgECgGDAAoAcQAxA48DWgAzADgAPQBCAEcATABRAFYAWwBgAAATIgYdASMiFDsBESMiFDsBFRQyPQEhFRQyPQEzMjQrAREzMjQrATU0JiMiBh0BITU0JiMxFzMVIzU7ARUjNTsBFSM1BTMVIzU7ARUjNTsBFSM1BTMVIzU7ARUjNTsBFSM13wQGZAoKZGQKCmQSAjISZAoKZGQKCmQGBAMF/c4FAwivr8GursKvr/59r6/Brq7Cr6/+fa+vwa6uwq+vA1oGBWQS/c4SZAoKZGQKCmQSAjISZAUGBgVkZAUGga+vr6+vr8Gurq6urq7Cr6+vr6+vAAEAZgBPA5oDFAAaAAABIgYHLgEjIg4CFRQeAjEwPgI1NC4CIwKoMVcgIFczMldBJoCagICagCZCWDIDFCUhISUmQlgycq92PD13r3IyWEElAAAAAAIAZgBPA5oDFAAeAEAAAAEVMh4CFxQOAgcuAzU0PgIzMhYfATc+ATM1MTgBMSIGBy4BIzgBMSIOAhUUHgIxMD4CNTQuAiMxAqgpSTYgAV99ehsben1fIDdJKShIGx0dG0omMVciIFcxMldBJoCagICagCZCWDIDFCkgNkgpW5NsQw0NQ2ySWipJNiAeGx0dGx4pJSEhJSZCWDJyr3Y8PXevcjJYQSUAAAMAZgAYA5oDSwAUAFsAdAAAASIOAhUUHgIzMj4CNTQuAiMTBiIHDgEjIiYnLgE1NDY/AT4BNz4BNTQmJy4BIyIGBw4BBzc+ATc+ATMyFhceARUcAQcOAQ8BDgEHDgEVFBYXHgEzMhY3BwMOASMiJicuATU0Njc+ATMyFhceARUWBgcCAFSWb0FBb5ZUVJZvQUFvllReFBUMDBoPFyUODhcCCi0CBQIBAQwFBCEMBg0HBw0FAg82Dw4bDhctDAwbAgIDATUCAwIBAwYFBA4MEQkRBgILGQ8PGQsLCgoLCxkPDxkLCwoBCwsDS0BwlVRVlW9BQW+VVVSVcED9SggEBQMLCwwdEgIzF2sHEAcIBQYLDwUEBAMBAgUCKwcQBAUFCwsLIhMDDgkKEQhpBxAHCR4ECxEDBQkCCCMB2QkNDQkJGg4OGgkKCwoLCRwODBgLAAIAZgClA5oCvgADAA8AAAEhBSUBDgEjIiYnJREhEQUDe/0KAXsBe/6cBQwGBgwF/n0DNP59Ar7Z2f7NAwMDA9v+PwHB2wAAAAMAZgB0A5oC7wAQACEAMgAAASEiJj0BNDYzITIWHQEUBiMRISImPQE0NjMhMhYdARQGIxEhIiY9ATQ2MyEyFh0BFAYjA4/84gUGBgUDHgUGBgX84gUGBgUDHgUGBgX84gUGBgUDHgUGBgUCiQUFUgQGBgRSBQX+9QYFUgQGBgRSBQb+9gYEUgUGBgVSBAYAAAIA3wAYAyMDSQASAB0AAAE1NC4CIyIOAh0BBxEFJREnJTU0NjMyFh0BJwcC4SQ9Ui4uUj0kQAEhASNC/oFdQUFdnp4B93ktTzsiIjtPLXkG/j4XGQHCBAZ1P1lZP3UPDwAAAAAIAGYAGAOYA0kAFAAaACsAMABBAEYAVQBsAAAlISImLwEuATURNDYzITIWFREWBiMlIREhERcBISImPQE0NjMhMhYdARQGIyUhNSEVKwEiJj0BNDY7ATIWHQEUBiMnMzUjFQEiJjURNDYzMhYVERYGIzEqAS8BLgE3PgEfATc2FhcWBg8BBiIjA4n9ZwMIAnYEAwsGAxAICQEKBv1tAoH9Em0CCv5mBwkKBgGaCAgICP53AXf+iVRnBwkKBmcHCQoGVkNDAUMHCQoGCAkBCggDBAOZBwIEBQ4Gj5AGDgQDAgWZAgYDGAMDiQIGAwKHCAgKBvzvBgohAu/9kH8CIwoGzQgICgbNBgoiqqoLBmYICQsGZgYLIURE/hMKBgEzCAkLBv7NBgoCZAUNBwYCBF5eAwMEBw0FZAIAAAAAAQBmABwDhwNHABgAADcTPgE3JTI0JyUiJicDJjYXARYUBwEGJjdmRgIPCgGDBwf+fwsOAkgEHxIC9BER/QwQIQQ9ASsJDgIoEQInDgoBKRMZCf6FCScJ/okJFxMAAAAABABmACgDmgMSAGMAhgCUAKIAAAEiBg8BIyIGHQE4ATEOARUUFhceARceATMHBhQXFjI/ATY0LwEuASMiBh8BIiYnLgEnLgE1NDY3FRQWMyEyNj0BHgEVFAYHDgEHIgYXFBY3PgE3PgE1NCYnNTQmKwEnLgErAQcVMzIWFzEXFBY7ATIWFREUBiMhIiY1ETQ2OwEyNjU3PgEzMRciBhUUFjMyNjU0JiMxFTIWFRQGIyImNTQ2MzEBixUkBAZEHy0lLRIPEC0bOJBTNwICAwYDQwQEQwIDAQUFBDdSjTYaKhANDyEgLCAB+h8tICEkIyJgOQMFAgcDO2IkJSksJi0fRAYEJBVzd+gPGwMIBQNKGCMjGP4KGCMjGEoDBQgDHA51OVBQOTlQUDkxSEYzM0ZIMQMQGxQdKyHdFzoiFCYRER4NGB03AwYEAQFGAgcDRAEBCwM4HRkMHA8PIhAbMBRSHysrH1IWMBkaMhYVIQkIAwMEAQkjFhc5ICI6F98fLR0UGwIOFQ4jAwMjGf69GSMjGQFDGSMDAyMMF5pQOTlQUDk5UBBGMTFGRjExRgAEAG8AGAOiA0sACQARABYAGwAAAREhDwEvASMRITchETMXNyERBSEVITUVIRUhNQNc/k4UPDsVVAKmRvzNdHV1AdX9fQGZ/mcBmf5nAwb+CB9YWB8B+EX9fbCwAoPnKSmQKCgABABmADkDnAMoADgATQBiAHcAABM0Jic1NCYjIgYdAQ4BFRQWFxUOARUUFhcVDgEVFBYXFRQWMzI2PQE+ATU0Jic1PgE1NCYnNT4BNSUhMCIPAQYUHwEeATEhMjY9AS4BIxEhMCYPAQYUHwEeATEhMjY9AS4BIxEhMCIPAQYUHwEeATEhMjY9AS4BI80UDwoGBwoPFBQPDxQUDw8UFA8KBwcJDxQUDw8UFA8PFAKq/hIYB0MFBUMFGgHwDhUCFA/+EhgHQwUFQwUaAfAOFQIUD/4SGAdDBQVDBRoB8A4VAhQPAsIRGgYlCAgKBiUEHBERGgawBRsRERoHsAMbEREaBiUHCQoGJQUbEREaBrEEHBERGgawBRkRRAQ0BBAEMwUCFA9EDxT+7wEFMwUPBTMEAhMQQxAT/vAEMwUPBTMFARMPRA4VAAAAAAUAmAAmA2gDWAAlADQASQBcAGkAAAE1MzI2NTQmKwEiBhUUFjsBFQ4DFRQeAjMyPgI1NC4CJyc0NjsBMhYVFAYrASImNRMiLgI1ND4CMzIeAhUUDgIjEycHLgEjIgYVFBYzMjY1NCYnNwciJjU0NjMyFhUUBiMCBk4RGBgRuBEYGBFNRntcNDhihEpKhGI4N2CBSnkJBrgGCAgGuAYJc0V6WjU1WnpFRXpaNTVaekXLFZ8FDAYUGxsUFBsDA6LLCAwLCQgMDAgC+Q0YERAZGRARGA8EO2GASEuDYjk5YoNLSoNiOgE4BggIBgcICAf9EjVaekVFeVo0NVp6RUV5WjQCAhWgAwMbFBQbGxQGDASeyQwJCAwLCQkMAAAAAgCRABYDbwNJABQALwAAARQOAiMiLgI1ND4CMzIeAhUHDgEjIiYnDgMVFB4CMzI+AjU0LgInAsUfNkcpKUc2Hx82RykpRzYfLx5NKytMHy9QOSE6Y4ZMTIZjOiE5UC8ChSlcTTIyTVwpKEg1Hx41SCnNJzExJxQ5QUEdJUMxHR0xQyUdQUE5FAAAAAABAAAAAQAAH7yqpV8PPPUACwQAAAAAANGA2WIAAAAA0YDZYgAAAAADogNaAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAOiAAEAAAAAAAAAAAAAAAAAAAAWBAAAAAAAAAAAAAAAAgAAAAQAAX0EAABmBAAAYgQAAQoEAABxBAAAZgQAAGYEAABmBAAAZgQAAGYEAADfBAAAZgQAAGYEAABmBAAAbwQAAGYEAACYBAAAkQAAAAAACgAUAB4AUADCAOQBKgGiAcwCIALIAuwDNANmBAQENAUKBTwF4AZuBrQAAAABAAAAFgCjAAoAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEACgAAAAEAAAAAAAIABwB7AAEAAAAAAAMACgA/AAEAAAAAAAQACgCQAAEAAAAAAAUACwAeAAEAAAAAAAYACgBdAAEAAAAAAAoAGgCuAAMAAQQJAAEAFAAKAAMAAQQJAAIADgCCAAMAAQQJAAMAFABJAAMAAQQJAAQAFACaAAMAAQQJAAUAFgApAAMAAQQJAAYAFABnAAMAAQQJAAoANADIQURUUy1JY29ucwBBAEQAVABTAC0ASQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwQURUUy1JY29ucwBBAEQAVABTAC0ASQBjAG8AbgBzQURUUy1JY29ucwBBAEQAVABTAC0ASQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByQURUUy1JY29ucwBBAEQAVABTAC0ASQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'RalewayRegular';
    margin: 0;
}

b {
    font-family: 'RalewayBold';
}

.logo {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

form {
    background-image: url(img/blurredbg.jpg);
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
}

.more_info {
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 60px;
    position: relative;
}

.more_info:after {
    font-family: 'icons';
    content: " h";
    font-size: 1.2em;
}

.inputnaam,
.inputcode,
.inputmail {
    font-family: 'RalewayRegular';
    display: block;
    margin: 0 auto 15px auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #FFF;
    border-bottom: solid 1px rgba(250, 250, 250, 0.7);
    padding: 8px 35px;
    width: 70%;
    background-repeat: no-repeat;
    background-position: bottom 10px left 5px;
    border-radius: 0;
}

.inputnaam {
    background-image: url(img/user.png);
    background-size: 15px;
}

.inputcode {
    background-image: url(img/lock.png);
    background-size: 12px;
}

.inputmail {
    background-image: url(img/mail.png);
    background-size: 16px;
}
/* Witte placeholder */

.loginform input::-webkit-input-placeholder {
    color: #FFF;
}

.loginform input::-moz-placeholder {
    color: #FFF;
}

.loginform input:-ms-input-placeholder {
    color: #FFF;
}

input:-moz-placeholder {
    color: #FFF;
}
/* Login knop */

.loginbutton {
    width: 70%;
    color: #347481;
    background-color: #fff;
    font-size: 0.9em;
    padding: 3%;
    border-radius: 3px;
    display: block;
    border: none;
    margin: 20% auto 5% auto;
    cursor: pointer;
}
/*Help-overlay*/

.help {
    font-family: 'RalewayBold';
    background-image: url(img/kleurenbalk.png);
    background-size: cover;
    padding: 15px;
    font-size: 0.85em;
    color: #FFF;
    position: relative;
    display: none;
    margin: 0;
}


.closehelp:before {
    font-family: 'icons';
    display: block;
    position: absolute;
    content: 'c';
    top: 13px;
    right: 15px;
    font-size: 23px;
    font-weight: 100;
}

.helptekst {
        background-color: rgba(255, 255, 255, 0.9);
    font-size: 0.8em;
    font-weight: 100;
    padding: 5%;
    font-family: 'RalewayRegular';
    max-height: 80%;
    display: none;
    overflow: auto;
}

.helptekst p {
    margin-top: 0;
}

.wrapperhelp {
    width: 92%;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    bottom: 20px;
    display: none;
}